.addVacation {
    padding: 50px;
}

.pic {
    padding-top: 10px;
}

.country {
    padding-top: 10px;
}

.city {
    padding-top: 10px;
}

.season {
    padding-top: 10px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px
}